@{
    ViewBag.Title = "Payment Cancel";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="container">
    <div class="row">
        <div class="offset-md-2 col-md-8 text-center p-md-5">
            <h1>Payment Cancel Confirmation</h1>
            @*<div class="p-md-3">
                    If you cancel it by mistake, you are welcome to try again.

                </div>*@
            <div class="p-md-3">It will be nice if you inform how can we make our service better for you or if you need any customization please feel free to <br /> <br /><a href="~/contact" class="btn btn-info btn-lg">contact us</a></div>
        </div>
    </div>
</div>
