@{
    ViewBag.Title = "Contact Confirmation";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
	

<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="card border-0 py-md-4">

            <div class="card-body text-center">
                <h1>
                    @ViewBag.Title.
                </h1>
                <h6 class="text-info">
                    @*Enter your email.*@
                </h6>

                <p class="text-success p-md-5">Thank you for your contribution.</p>

            </div>

        </div>

    </div>
</div>
