@{
    ViewBag.Title = "Basic Setup - Dashboard";
    Layout = "~/Areas/Stock/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Dashboard</h1>
    <p class="lead">All  one roof</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

