@model Nyika.WebUI.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="card border-0 py-md-4">

            <div class="card-body text-center">
                <h1>
                    Forget Password?
                </h1>
                <h6 class="text-info">
                    Enter your email.
                </h6>

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
                {

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-inline p-md-2">
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control-lg", @placeholder = "Email" })
                        </div>
                    </div>

                    <div class="form-inline p-md-2">
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-dark btn-block" value="Email Link" style="display:inline-block"/>
                        </div>
                    </div>
                    <div class="p-md-2">

                    </div>
                }

                <p class="text-left">
                    <strong>Help:</strong>
                    <br />
                    <strong>
                        Q. Why I did not get any email for reset?
                    </strong>
                    <br />
                    A. You might type a wrong email or there was spelling mistake in your typed email.
                    <br />
                    <br />
                    <strong>
                        Q. I type correct email address but why still not receive any reset link?
                    </strong>
                    <br />
                    A. It can happen if you open an account with us with a non-existing email address. In that case you need to contact with us to rectify your account with correct email address.
                    <br />
                    <strong class="text-danger">Non-existing email address like : abc@nothing.xyz  </strong>
                </p>

            </div>

        </div>

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
