@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
	

<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="card border-0 py-md-4">

            <div class="card-body text-center">
                <h1>
                    @ViewBag.Title.
                </h1>
                <h6 class="text-info">
                    @*Enter your email.*@
                </h6>

                <p class="text-success p-md-5">Please check your email to reset your password.</p>

                <p class="text-left">
                    <strong>Help:</strong>
                    <br />
                    <strong>
                        Q. Why I did not get any email for reset?
                    </strong>
                    <br />
                    A. You might type a wrong email or there was spelling mistake in your typed email.
                    <br />
                    <br />
                    <strong>
                        Q. I type correct email address but why still not receive any reset link?
                    </strong>
                    <br />
                    A. It can happen if you open an account with us with a non-existing email address. In that case you need to contact with us to rectify your account with correct email address.
                    <br />
                    <strong class="text-danger">Non-existing email address like : abc@nothing.xyz  </strong>
                </p>

            </div>

        </div>

    </div>
</div>
