
@{
    ViewBag.Title = "About Nyika";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="jumbotron jumbotron-fluid mb-md-0 px-md-0 mx-md-0 pb-md-0" style="background: url(@Url.Content("~/Images/whoweare.jpg?"+@DateTime.Now.ToFileTime())) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
    <div class="container text-center">
        <h1>Welcome to <strong>Nyika</strong></h1>
        <div class="pt-md-2 pt-md-1"><a class="btn btn-success btn-lg badge-pill px-md-5" href="/Register" id="registerLink">Start For Free</a></div>
        <h6 class="text-dark mb-md-5">Try it free for 14 days. No credit card required. Cancel anytime.</h6>
        <br />
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="p-md-3">
                <h1 class="card-title text-center p-md-5">Our<strong> Story</strong></h1>
            </div>
            <p><strong>NYIKA</strong> means wilderness in Swahili language, our solution comes as a saviour in the wilderness, the business world is like a battlefield there is huge competition (survival of the fittest) and the only way to come out winning is being ahead of others in what you do. After doing an extensive research we found out most business fail in today&rsquo;s world due to lack of good systems which simplifies the work and also failure to keep track, control and gives out correct company reports&nbsp; like financial, Human resources&nbsp; and other management reports&nbsp; for making&nbsp; decisions and predict the future of the business.</p>
            <p>After identifying this our team sat down to come up with and intelligent solution which is <strong>SIMPLE</strong> to use, <strong>AFFORDABLE</strong> and <strong>RELIABLE</strong>, and we present to you NYIKA online business service platform, a product of Azmain Ventures Limited, which offers online <strong>HR</strong>, <strong>PAYROLL</strong> and <strong>ACCOUNTING</strong> Systems with different packages like <strong>MWEZI</strong>, <strong>MWAKA</strong> and <strong>MILELE</strong> depending on your business needs and fund, Our mission is to step up your business efficiency and take your business to the next level.</p>
            <p>Our main focus is on customer needs, innovation and simplicity, everything we do starts and finishes with building something which will satisfy the customer needs depending on the nature of the business and we provide expertise consultancy. We just don&rsquo;t sell online service we create relationship with customers and give them a business and technical know-how in whatever we are building so as we both win.</p>
            <p>NYIKA is aiming at changing your business by the use of technology and make it more efficient, reliable and easy data management and performing internal and external auditing, whatever the size of your business, we've got software to suit your needs.</p>
        </div>

    </div>

    <div class="row text-center">
        <div class="col-md-12 p-md-3">
            <h1 class="card-title p-md-5"><strong>Our</strong> Team</h1>
        </div>
    </div>

    <div class="row text-center">

        <div class="offset-md-3 col-md-3">
            <div class="card">
                <img class="card-img" src="@Url.Content("~/Images/founderCEO.jpg?"+@DateTime.Now.ToFileTime())" alt="Founder CEO">
                <div class="card-body">
                    <h5 class="card-title"><strong>Grace Joel Wadugu</strong></h5>
                    <h6 class="card-text text-muted">Founder &amp; CEO</h6>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img" src="@Url.Content("~/Images/founderCTO.jpg?"+@DateTime.Now.ToFileTime())" alt="Founder CTO">
                <div class="card-body">
                    <h5 class="card-title"><strong>Hasan Habib</strong></h5>
                    <h6 class="card-text text-muted">Founder &amp; CTO</h6>
                </div>
            </div>
        </div>

    </div>

    <div class="row text-center">
        <div class="col-md-12 py-md-3">
            <h4 class="card-title py-md-5">Be social with <strong>Nyika : </strong> <a href="https://www.facebook.com/nyika.co/"><i class="fab fa-facebook-square"></i></a> </h4>
        </div>
    </div>
</div>