@{
    ViewBag.Title = "Payment Confirmation";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
	

<div class="row">
    <div class="offset-md-2 col-md-8">
        <div class="card border-0 py-md-4">

            <div class="card-body text-center">
                <h1>
                    @ViewBag.msg.
                </h1>
                <h6 class="text-info">
                    @*Enter your email.*@
                </h6>

                <p class="bg-danger text-white p-md-5">Please check your PayPal payment history, before try again.</p>

            </div>

        </div>

    </div>
</div>
